/* Importa o reset.css, garantindo consistência entre navegadores. */
@import url("reset.css");

/* Estilos do cabeçalho */
header {
  background-color: #58378C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* Elementos dentro do cabeçalho */
.logo,
.search-bar,
.user-options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Botão no cabeçalho */
.header-button {
  background-color: #2E97A7;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 21px;
  font-size: 30px;
  transition: background-color 0.3s ease;
}

.header-button:hover {
  background-color: #1F6A75;
  cursor: pointer;
}

/* Barra de pesquisa no cabeçalho */
.search-bar input[type="text"] {
  flex: 1;
  padding: 11px;
  border-radius: 20px;
  margin: 0 20px;
}

/* Opções do usuário no cabeçalho */
.user-options a,
.user-options span,
.user-link {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10px;
}

main {
  height: 400px;
}

/* Estilos do carrinho */
.carrinho {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #d2e7ed;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.produto {
  display: flex;
  margin-bottom: 20px;
}

.produto img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.info-produto {
  flex-grow: 1;
}

.info-produto h2 {
  margin: 0 0 10px;
}

.info-produto p {
  margin: 0 0 5px;
}

.info-produto label {
  margin-right: 5px;
}

.info-produto input {
  width: 50px;
}

.info-produto button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finalizar-compra {
  background-color: #2ecc71;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Estilos do rodapé */
footer {
  background-color: #58378C;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-contact,
.footer-shortcuts,
.footer-social-icons {
  flex: 1;
}

.footer-contact p,
.footer-shortcuts ul,
.footer-social-icons {
  list-style: none;
  padding: 0;
}

.footer-contact a,
.footer-shortcuts a {
  text-decoration: none;
  color: #95d1e3;
  transition: color 0.3s ease;
}

.footer-contact a:hover,
.footer-shortcuts a:hover {
  color: #45a049;
}

.footer-social-icons img {
  margin: 0 5px;
  transition: transform 0.3s ease;
}

.footer-social-icons img:hover {
  transform: scale(1.2);
}