/* Importa o reset.css, garantindo consistência entre navegadores. */
@import url("reset.css");

/* Estilos do cabeçalho */
header {
    background-color: #58378C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Elementos dentro do cabeçalho */
.logo, .search-bar, .user-options {
    display: flex;
    align-items: center;
}

/* Botão no cabeçalho */
.header-button {
    background-color: #2E97A7;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 21px;
    font-size: 30px;
    transition: background-color 0.3s ease;
}

.header-button:hover {
    background-color: #1F6A75;
    cursor: pointer;
}

/* Barra de pesquisa no cabeçalho */
.search-bar input[type="text"] {
    flex: 1;
    padding: 11px;
    border-radius: 20px;
    margin: 0 20px;
}

/* Opções do usuário no cabeçalho */
.user-options a, .user-options span, .user-link {
    text-decoration: none;
    color: white;
    display: block;
    margin-bottom: 10px;
}

/* Estilos da seção principal */
main {
    display: block;
    padding: 2rem;
    font-size: 11px; /* Considere ajustar para melhor legibilidade */
}

.container {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.balloon-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-around;
    width: 50rem;
    height: 12rem
}

.balloon {
    border: 2px solid #ddd;
    border-radius: 66px;
    padding: 11px;
    width: 150px;
    margin: 7px;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
}

.balloon h1 {
    margin: 10px 0;
    font-size: 1.2em;
}

.balloon p {
    margin: 5px 0;
}

.balloon img {
    display: block;
    margin: 0 auto;
}


/* Estilos da seção "COMO PODEMOS TE AJUDAR?" */
h1 {
    text-align: center;
    margin: 20px 0;
}


#opcoes {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

#opcoes h2{
    font-size: 24px;
    color: #58378C;
}
#opcoes div {
    text-align: center;
}

#opcoes img {
    width: 125px;
    height: 100px;
}

/* Estilos da seção "Fale conosco!" */
#contato {
    text-align: center;
    margin: 20px 0;
}

#contato h2 {
    font-size: 36px;
    color: #58378C;

}

#contato form {
    max-width: 600px;
    margin: 0 auto;
}

#contato input, #contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc; /* Adiciona uma borda para uma aparência mais nítida */
    border-radius: 5px;
    box-sizing: border-box;
}

#contato textarea {
    height: 100px; /* Ajusta a altura do campo de texto */
}

#contato button {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#contato button:hover {
    background-color: #45a049;
}


/* Estilos do rodapé */
footer {
    background-color: #58378C;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contact, .footer-shortcuts, .footer-social-icons {
    flex: 1;
}

.footer-contact p, .footer-shortcuts ul, .footer-social-icons {
    list-style: none;
    padding: 0;
}

.footer-contact a, .footer-shortcuts a {
    text-decoration: none;
    color: #95d1e3;
    transition: color 0.3s ease;
}

.footer-contact a:hover, .footer-shortcuts a:hover {
    color: #45a049;
}

.footer-social-icons img {
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.footer-social-icons img:hover {
    transform: scale(1.2);
}
