/* Importa o reset.css, garantindo consistência entre navegadores. */
@import url("reset.css");

/* Estilos do cabeçalho */
.header {
  background-color: #58378c;
  color: white;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: nowrap;
}



.header-button:hover {
  background-color: #1f6a75;
  cursor: pointer;
}

.ul-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* Corrigido para flex-end em vez de right */
}

.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a,
.user-options a,
.user-link {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

.disabled-link {
  pointer-events: none;
  color: #8a8a8a;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(/img/fundo.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}

/* Estilos do formulário */
.main {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  border-radius: 10px;
  padding: 30px 40px;
}
.main h1 {
  font-size: 36px;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline-style: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color: #ffffff;
}

.input-box i {
  position: absolute;
  right: 20px;
  top: 50px;
  transform: translateY(-50%);
  font-size: 20px;
}

.lembrar-senha {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.lembrar-senha label input {
  accent-color: #ffffff;
  margin-right: 3px;
}

.lembrar-senha a {
  color: #ffffff;
  text-decoration: none;
}

.lembrar-senha a:hover {
  text-decoration: underline;
  color: #333333;
}

.botao {
  width: 100%;
  height: 45px;
  background: #ffffff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}

.registar {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.registar p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.registar p a:hover {
  text-decoration: underline;
  color: #333333;
}

/*Cadastre-se*/

.input-nome {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box.input-senha-confirmar {
  margin: 0 0 80px;
}

.input-box.input-senha-confirmar input {
  margin: 3px 0;
}

.input-nome input {
  align-items: center;
  width: 50%;
  height: 100%;
  background: transparent;
  border: none;
  outline-style: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  padding: 20px 45px 20px 20px;
  margin: 0 10px 0 0;
}

.input-nome input::placeholder {
  color: #ffffff;
}

.data-nascimento .select-data option {
  background: #333333;
  text-align: center;
}

.acessar {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.acessar p a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.acessar p a:hover {
  text-decoration: underline;
  color: #333333;
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "* Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #DFDFDF;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}

/* Estilos do rodapé */
.footer {
  background-color: #58378c;
  color: white;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  z-index: 1; /* Adicionando z-index para garantir que o rodapé fique acima do conteúdo */
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-contact,
.footer-shortcuts,
.footer-social-icons {
  flex: 1;
}

.footer-contact p,
.footer-shortcuts ul,
.footer-social-icons {
  list-style: none;
  padding: 0;
}

.footer-contact a,
.footer-shortcuts a {
  text-decoration: none;
  color: #95d1e3;
}

.footer-social-icons img {
  margin: 0 5px;
}
