@import url('reset.css');


/* Estilos do cabeçalho */
header {
    background-color: #58378C;
    color: white;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1; /* Adicionando z-index para garantir que o cabeçalho fique acima do conteúdo */
}


.logo,
.search-bar,
.user-options {
    display: flex;
    align-items: center;
}

.header-button {
    background-color: #2E97A7;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 21px;
    font-size: 30px;
}

.header-button:hover {
    background-color: #1F6A75;
    cursor: pointer;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 11px;
    border-radius: 20px;
    margin: 0 20px;
}

.user-options a,
.user-options span,
.user-link {
    text-decoration: none;
    color: white;
    display: block;
    /* Isso fará com que os links sejam exibidos verticalmente um abaixo do outro */
    margin-bottom: 10px;
    /* Adiciona um espaçamento entre os links */
}

/* Estilos do formulário */
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101010;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: lightgray;
  border-radius: 16px;
  padding: 1.5rem 40px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: .2rem;
  position: relative;
}

label:not(:first-of-type){
  margin-top: 1rem;
}

input {
  padding: .2rem .5rem;
}

.helper-text {
  display: none;
  font-size: .8rem;
  color: darkred;
}

button {
  width: 100px;
  height: 40px;
  margin-top: 1.5rem;
  font-size: 1rem;
  align-self: center;
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #DFDFDF;
  font-size: .65rem;
  padding: .2rem .3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #CCBBBB;
  color: #662020;
}

input.correct {
  background-color: #BBCCBB;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}


/* Estilos do rodapé */
footer {
    background-color: #58378C;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 1; /* Adicionando z-index para garantir que o rodapé fique acima do conteúdo */
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contact,
.footer-shortcuts,
.footer-social-icons {
    flex: 1;
}

.footer-contact p,
.footer-shortcuts ul,
.footer-social-icons {
    list-style: none;
    padding: 0;
}

.footer-contact a,
.footer-shortcuts a {
    text-decoration: none;
    color: #95d1e3;
}

.footer-social-icons img {
    margin: 0 5px;
}