/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    /* Fonte global */
    margin: 0;
    padding: 0;
    font-size: 18px;
}

/* Estilos do cabeçalho */
header {
    background-color: #58378C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo,
.search-bar,
.user-options {
    display: flex;
    align-items: center;
}

.header-button {
    background-color: #2E97A7;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 21px;
    font-size: 30px;
}

.header-button:hover {
    background-color: #1F6A75;
    cursor: pointer;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 11px;
    border-radius: 20px;
    margin: 0 20px;
}

.user-options a,
.user-options span,
.user-link {
    text-decoration: none;
    color: white;
    display: block;
    /* Isso fará com que os links sejam exibidos verticalmente um abaixo do outro */
    margin-bottom: 10px;
    /* Adiciona um espaçamento entre os links */
}

/* Estilos da seção principal */
main {
    display: block;
    padding: 2rem;
    font-size: 11px;
}
.div-emagrecimento {
    display: flex;
    height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #58378C;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.balloon-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-around;
    width: 50rem;
    height: 12rem
}

.balloon {
    border: 2px solid #ddd;
    border-radius: 66px;
    padding: 11px;
    width: 150px;
    margin: 7px;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
}

.balloon h1 {
    margin: 10px 0;
    font-size: 1.2em;
}

.balloon p {
    margin: 5px 0;
}

.balloon img {
    display: block;
    margin: 0 auto;
}

/* Estilos das seções */
section {
    margin-bottom: 2rem;
}

.container-produto {
    border: 2px solid rgba(0, 0, 0, 0.432);
    display: flex;
    align-items: center;
    width: 850px;
    margin: auto;
    padding: 20px;
}

.img-prod {
    padding: 10px;
}

.img-prod img {
    width: 200px;
    height: 200px;
}

.cta-prod {
    margin-left: 20px;
}

.titulo-prod {
    font-size: 24px;
    margin-bottom: 10px;
}

.dados-prod {
    margin-bottom: 10px;
}

.beneficios-prod {
    margin-bottom: 10px;
}

.beneficios-prod p {
    margin: 5px 0;
}

.preco-produto {
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.desconto {
    text-decoration: line-through;
}

.botao-saiba-mais {
    display: inline-block;
    background-color: #58378C;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}



/* Estilos do rodapé */
footer {
    background-color: #58378C;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contact,
.footer-shortcuts,
.footer-social-icons {
    flex: 1;
}

.footer-contact p,
.footer-shortcuts ul,
.footer-social-icons {
    list-style: none;
    padding: 0;
}

.footer-contact a,
.footer-shortcuts a {
    text-decoration: none;
    color: #95d1e3;
}

.footer-social-icons img {
    margin: 0 5px;
}