@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    /* Fonte global */
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* Estilos para desktop */
@media screen and (min-width: 600px) {
    body {
        width: 850px;
        display: inline;
    }
}

/* Estilos do cabeçalho */
header {
    background-color: #58378C;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo,
.search-bar,
.user-options {
    display: flex;
    align-items: center;
}

.header-button {
    background-color: #2E97A7;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 21px;
    font-size: 30px;
}

.header-button:hover {
    background-color: #1F6A75;
    cursor: pointer;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 11px;
    border-radius: 20px;
    margin: 0 20px;
}

.user-options a,
.user-options span,
.user-link {
    text-decoration: none;
    color: white;
    display: block;
    /* Isso fará com que os links sejam exibidos verticalmente um abaixo do outro */
    margin-bottom: 10px;
    /* Adiciona um espaçamento entre os links */
}

/* Estilos da seção principal */
main {
    display: block;
    padding: 2rem;
    font-size: 11px;
}

/* Estilos da seção container */
#container {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.balloon-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    align-content: space-around;
    width: 50rem;
    height: 12rem
}

.balloon {
    border: 2px solid #ddd;
    border-radius: 66px;
    padding: 11px;
    width: 150px;
    margin: 7px;
    text-align: center;
    box-sizing: border-box;
    word-wrap: break-word;
}

.balloon h1 {
    margin: 10px 0;
    font-size: 1.2em;
}

.balloon p {
    margin: 5px 0;
}

.balloon img {
    display: block;
    margin: 0 auto;
}

/* Estilos da seção emagrecimento */
/* Estilos da seção emagrecimento */
#emagrecimento {
    position: relative;
    background-color: #58378C;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 10px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.div-emagrecimento {
    margin-bottom: 20px;
}

.img-emagrecimento {
    width: 100px;
    height: 100px;
}

.titulo-prod {
    font-size: 24px;
    /* Ajuste o tamanho da fonte conforme necessário */
}

/* Estilos da seção produto */
#container-produto {
    border: 2px solid rgba(0, 0, 0, 0.432);
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: flex-end;
    width: 700px;
    margin-bottom: 20px;
}

.img-prod {
    padding: 10px;
}

.img-prod img {
    width: 125px;
    height: 225px;
}

.cta-prod {
    margin-left: 20px;
}

.titulo-prod {
    font-size: 24px;
    margin-bottom: 10px;
}

.dados-prod {
    margin-bottom: 10px;
}

.beneficios-prod {
    margin-bottom: 10px;
}

.beneficios-prod p {
    margin: 5px 0;
}

.preco-produto {
    font-size: 18px;
    display: block;
    margin-top: 10px;
}

.desconto {
    text-decoration: line-through;
}

.comprar {
    display: inline-block;
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}


/* Estilos da seção cards */
#cards {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 6px;
}

.card {
    color: #58378C;
    padding: 20px;
    margin: 0 10px;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.432);
    border-radius: 5px;
}

.card p {
    margin: 10px 0;
}

.card button {
    display: inline-block;
    background-color: #45a049;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Estilos da seção dicas */
#dicas-perda-peso {
    text-align: center;
    padding: 20px;
}

.table-container {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

#dicas-perda-peso h2 {
    font-size: 24px;
    color: #58378C;
}

.column {
    flex: 1;
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.column h3 {
    background-color: #58378C;
    color: whitesmoke;
    font-size: 14px;
    margin: 1.5rem;
}

.column p {
    margin: 10px 0;
}

button {
    background-color: #45a049;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: white;
}

/* Estilos da tabela Nutricional */
#tabela-nutricao {
    margin: 20px;
}

#tabela-nutricao h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#tabela-nutricao table {
    width: 100%;
    border-collapse: collapse;
}

#tabela-nutricao table tr {
    border-bottom: 1px solid #ddd;
}

#tabela-nutricao table td {
    padding: 10px;
    text-align: left;
}

#tabela-nutricao table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabela-nutricao table tr:nth-child(1) {
    font-weight: bold;
}

#tabela-nutricao table tr td:nth-child(2) {
    text-align: center;
}

#tabela-nutricao table tr td:nth-child(3) {
    text-align: center;
}

#tabela-nutricao table tr td:nth-child(4) {
    text-align: center;
}

#tabela-nutricao table button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#tabela-nutricao table button:hover {
    background-color: #45a049;
}

/* Estilos secção ingredientes */
#ingredientes {
    margin: 20px;
}

#ingredientes h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

#ingredientes p {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}

#ingredientes button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#ingredientes button:hover {
    background-color: #45a049;
}

/* Estilos do rodapé */
footer {
    background-color: #58378C;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contact,
.footer-shortcuts,
.footer-social-icons {
    flex: 1;
}

.footer-contact p,
.footer-shortcuts ul,
.footer-social-icons {
    list-style: none;
    padding: 0;
}

.footer-contact a,
.footer-shortcuts a {
    text-decoration: none;
    color: #95d1e3;
}

.footer-social-icons img {
    margin: 0 5px;
}
