@import url("reset.css");

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: calc(100% - 16px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#detalhes-envio {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

#detalhes-envio label {
    display: block;
    margin-bottom: 5px;
}

#detalhes-envio input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#total-pagar {
    font-weight: bold;
    margin-top: 10px;
    font-size: 16px;
}

#botao-pagar {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#botao-pagar:hover {
    background-color: #45a049;
}

#detalhes-pagamento,
#resumo-pedido,
#metodos-pagamento {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#detalhes-pagamento,
#resumo-pedido {
    background-color: #f9f9f9;
}

#metodos-pagamento {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

#metodos-pagamento label {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#metodos-pagamento input {
    margin-right: 8px;
}

/* Estilos do rodapé */
footer {
    background-color: #58378C;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contact,
.footer-shortcuts,
.footer-social-icons {
    flex: 1;
}

.footer-contact p,
.footer-shortcuts ul,
.footer-social-icons {
    list-style: none;
    padding: 0;
}

.footer-contact a,
.footer-shortcuts a {
    text-decoration: none;
    color: #95d1e3;
    transition: color 0.3s ease;
}

.footer-contact a:hover,
.footer-shortcuts a:hover {
    color: #45a049;
}

.footer-social-icons img {
    margin: 0 5px;
    transition: transform 0.3s ease;
}

.footer-social-icons img:hover {
    transform: scale(1.2);
}